.cart-container{
    background: rgb(204, 207, 7);
    margin-top : 4.5%;
    margin-bottom : 4.5%;
    
}

.hover{
    /* padding: 10%; */
    :hover{
        /* background: rgb(202, 195, 195) !important; */
        font-size: large;
        font-weight: bold;
        /* padding: 5%; */
        transition: 200ms ease-in-out;
    }

}

.padding{
    padding-bottom: 2%;
}

.bold{
    font-weight: 700rem !important;
}